.card{
    border: none;
    width: 500px;
    padding: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,10%);
    background:hsla(205, 46%, 30%, 1);
    background:linear-gradient(90deg,hsla(205,46%,30%,1)0%,hsla(260,29%,36%,1)100%);
}

.card h1,h6{
    color: white;
}

label{
    color:white;
}

::ng-deep snack-bar-container.green-snackbar{
    padding: 20px;
    background:green;
    color:white;
}